/*
 * QGC Custom CSS
 */
*{
	box-sizing: border-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
body {
	font-family: 'dosisregular', sans-serif;
	background: url(../img/background.png) repeat;
	margin: 0
}
select{
 	height: auto;
 	font-family: 'dosisregular', sans-serif;
 	background: #fff;
 	margin-bottom: 0;
   	line-height: 1;
   	border: 1px solid #ff8500;
   	border-radius: 2px;   
   	-moz-border-radius: 2px;   
   	-webkit-border-radius: 2px;
   	/*-moz-appearance: none;  
   	-webkit-appearance: none;*/
}

.navbar .brand {
	  background: url(../img/qgcops-logo.png);
	  width: 235px;
	  height: 80px;
	  padding: 0px;	  
}
.qgcops-full-width{
	padding-right: 0;
	padding-left: 0
}
.qgcops-full-width-img > img, .qgcops-full-width-img > a > img{
	width: 100%
}

/*
----------------------------------------
04 MAIN CONTAINER 
========================================
*/
.qgcops-main-container{
	/*margin-top: 20px*/
}

/*-----------------------------*/
/*01 TOP OPTIONS*/
/*-----------------------------*/

.qgcops-navbar-top-container{
	padding: 0;
	background: #ff8500;
	height: 20px;
}
.qgcops-navbar-top{
	height: 20px;

}
.qgcops-navbar-top > ul{
	list-style: none;
	margin: 0 0 0 10px;
	padding: 0;
	color: #fff;
	float: right;
}
.qgcops-navbar-top > ul > li{
	float: left;
	margin-right: 16px
}
.qgcops-navbar-top > ul > li > a{
	color: #fff;
	text-decoration: underline;
}
.qgcops-navbar-top > ul > li > a:hover{
	color: #666;
	text-decoration: none;
}
li.notifications{
	background: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 16px;
	height: 16px;
	text-align: center;
	vertical-align: middle;
	line-height: 17px;
	font-family: 'dosissemibold';
	font-size:10px;
	color: #ff8500;
	margin: 2px 0 0 -10px
}
li.qgcops-user-status{
	width: 10px;
	height: 10px;
	line-height: 15px;
	vertical-align: bottom;
	margin: 5px 0 0 50px
}
li.qgcops-user-name{
	margin-left: -10px
}
.online{
	background: green
}


/*-----------------------------
 02 MAIN MENU
-----------------------------*/
.navbar-inner {
	 font-size: 24px;
	 border: 0px;
	 border-radius: 0
}
.navbar-inverse .nav > li > a{
	color: #fff;
	padding: 30px;
}
.navbar-inverse .nav > li > a:after{
	content: "";
	display: inline-block;
	background: url(../img/navbar-bg.png);
	width: 20px;
	height: 20px;
	margin-left: 7px;
	margin-bottom: -4px
}
/*Hover Styles
-----------------------------*/
.navbar-inverse .nav > li > a:hover:after
{
	background: url(../img/navbar-bg-gray.png);
}
.navbar-inverse .nav > li > a:hover, 
.navbar-inverse .nav > li > a:focus{
	background: #ff8500;
	color: #666666;
	text-decoration: underline;
}
.navbar-inverse .nav li.dropdown:hover,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  
  background-color: #FF8500;
  text-decoration: underline
}


/*DropDown Menu
-----------------------------*/
ul.nav li.dropdown:hover > ul.dropdown-menu,
ul.nav li.dropdown:hover > ul.dropdown-submenu .dropdown-menu {
    display: block;    
}

.dropdown-menu{
	/*background: #ff8500;
	left: 0;
	top:60px;
	min-width: 300px;
	font-size: 18px;*/
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.dropdown > ul{
	background: #ff8500;
	padding: 0;
	margin: 0; 
	font-size:18px;
	min-width: 300px
}

/*Second Level*/
.dropdown > ul > li{
	display: inline-block;
	background: #ff8500
}
.dropdown > ul > li > a{
	padding: 13px 15px;
	width: auto;
	color: #666
}
.dropdown > ul > li > a:hover, .dropdown > ul > li > a:focus, .dropdown > ul > li > a:active{
	text-decoration: underline;
	color: #666;
	background: #ff8500;
	/*font-weight: bold;*/
}
.dropdown > ul > li > a:after{
	content: '';
	display: inline-block;
	background: url(../img/dropdown-menu_caret-bg.png) no-repeat;
	width: 14px;
	height: 14px;
	top: -10px;
	margin-left: 5px
}



/* Top Triangle */
	
	.navbar .nav > li > .dropdown-menu:after,
	.navbar .nav > li > .dropdown-menu:before {
		border: none;
	}
	
	/* End Top Triangle */
	
	/* Right Triangle on SubNav */
	
	.dropdown-submenu > a:after {
	  display: none;	
	}

/*Third Level*/
.dropdown-submenu > .dropdown-menu {
	top:52px;
	left:1px;
	background: #cccccc;
	list-style: none !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
	.dropdown-submenu ul.dropdown-menu > li a {
		padding: 10px 5px 10px 19px;
		color: #666666;
		font-size: 16px
	}
	.dropdown-submenu ul.dropdown-menu > li a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
		font-weight: bold;
		text-decoration: underline;
		background: none;
		color: #666666
	}

	.dropdown-submenu ul.dropdown-menu > li:hover:before {
		content: "\00BB \0020";
		color: #ff8500;
		font-weight: bold;
		position: absolute;
		margin: 8px 0 0 5px;
		background: none

	}

	.dropdown-submenu .dropdown-menu:before {
		content: '';
		display: inline-block;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #ccc;
		position: absolute;
		top: -7px;
		left: 23px;
	}

/*Mobile Menu
-----------------------------*/
.navbar .btn-navbar {
margin-top: 23px;
}

/*
----------------------------------------
04 BREADCRUMBS 
========================================
*/

.breadcrumb {
	background: transparent url(../img/qgcops-breadcrumbmain-bg.png) left no-repeat;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 11px 15px;
}
	.breadcrumb a{
		color:#666;
		text-decoration: underline
	}
.qgcops-breadcrumb {
	float: left;
	width: 135px; /* Controls where .breadcrumb starts */
	background: url(../img/qgcops-breadcrumb-bg.png) no-repeat;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	line-height: 40px;
	margin-left: 0;
}
.breadcrumb .active{
	color:#ff8500;
}
	
/*
----------------------------------------
04 FILTERS 
========================================
*/
/* Main Filter
-----------------------------*/
.qgcops-main-filter-container{
	background: #f3f3f3;
	margin-bottom: 40px;
	padding: 20px 0 10px
}
.qgcops-main-filter-container > span{
	float: left;
	width: 28%;
	vertical-align: middle;
	line-height: 30px;
	text-transform: uppercase;
	color: #666;
	text-align: right;
	margin-right: 1%
}
.qgcops-main-filter{
	display: inline-block;
	width: 50%
}
.qgcops-main-filter > select{
	display: inline-block;
	width: 100%;
}

/* Header Filter
-----------------------------*/
.qgcops-header-filter-container {
	margin-top: -21px;
	background: #666;
	position: absolute;
	right: 0;
	padding: 6px 8px;
}
.qgcops-header-filter-container > span{
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	margin: 0 10px
}
.qgcops-header-filter{
	display: inline-block;
	width: auto
}
.qgcops-header-filter > select {
	display: inline-block;
	width: auto;
	
}

/*
----------------------------------------
04 CHARTS CONTAINERS
========================================
*/
/*Chart Containers
-----------------------------*/
.qgcops-chart-container{
	width: 100%;
	margin: 10px auto;
}
/*DEMO - IMG SHOULD BE CHANGED TO THE NAME OF THE FINAL ELEMENT
-----------------------------*/
.qgcops-chart-container > img{
	width: 100%;
}

/*
----------------------------------------
04 HEADER TITLES 
========================================
*/
/*H1 Titles
-----------------------------*/
.qgcops-header > h1 {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	background: transparent url(../img/qgcops-h1-bg.png) right no-repeat;
	float: left;
	padding: 0px 30px 0px 10px;
	white-space: nowrap;
}
.qgcops-header > h1 > b {
	color: #666666;
	margin-right: 5px
}
.qgcops-header {
	margin-top: -31px;
}
/*H2 Titles (Gray & Orange)
-----------------------------*/
.qgcops-subtitle-a > h2 , .qgcops-subtitle-b > h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	float: left;
	padding: 0px 30px 0px 10px;
	white-space: nowrap;
	font-weight: normal
}
.qgcops-subtitle-a > h2{
	background: transparent url(../img/qgcops-h2-bg.png) right no-repeat;
}
.qgcops-subtitle-b > h2{
	background: transparent url(../img/qgcops-h2-b-bg.png) right no-repeat;
}
.qgcops-h2-divider{
	border-bottom: 1px solid #666;
	display: block;
	margin-top: 29px
}

/*
----------------------------------------
04 LIST STYLE 
========================================
*/
.qgcops-list {
	list-style: none;
	margin: 0
}
.qgcops-list li:before{
	content: "»";
	color: #ff8500;
	margin-right: 5px;
	font-family: 'dosissemibold';

}
/*
----------------------------------------
04 TABLE STYLES 
========================================
*/

.qgcops-table {
  	width: 100%;
  	background-color: transparent;
  	border-collapse: collapse;
  	border-spacing: 0;
  	/*margin-bottom: 20px;*/
}
.qgcops-large-table{
	font-size: 12px
}
.qgcops-table-label-a{
	background: #676767;
}
.qgcops-table-label-b{
	background: #989898;
}
.qgcops-table th,
.qgcops-table td {
    padding: 8px;
    line-height: 20px;
    vertical-align: center;
    text-align: center;
    border-top: 1px solid #dddddd;
}
.qgcops-table thead th {
  	vertical-align: bottom;
  	text-align: center;
  	background: #666666;
  	color: #fff;
  	font-weight: normal;
  	
}

.qgcops-table tr {
    background: #f3f3f3;
    text-align: center;
}

.qgcops-table tr.even {
    background: #cccccc;
}

.qgcops-table span.qgcops-status
{
    color: #fff;
    padding: 5px;
}

    .qgcops-table span.pressure 
    {
        background: #993300;
    }

    .qgcops-table span.red 
    {
        background: #993300;
    }
    
    .qgcops-table span.amber {
        background: #ff8500;
    }
    
    .qgcops-table span.yellow {
        background: #000;
    }
    
    .qgcops-table span.water {
        background: #666666;
    }

table.qgcops-table.sortable thead th:hover {
    background: #333;
}

.k-link{
	text-align: center
}

/* Well Hit List 
    Note: These styles are referenced progamatically by presenters/area/wellhitlistpresenter.GetWellHitListStatusCssClass
*/
.qgcops-area-well-hit-list-sparkline 
{
    width: 130px;
}

.qgcops-wellhitliststatus-icon {
    width: 25px;
    height: 25px;
    background: url(../img/qgcops-wellhitliststatus.png) no-repeat;
    margin: auto;
}

    .qgcops-wellhitliststatus-icon.pressure {
        background-position: center 0px;
    }
    .qgcops-wellhitliststatus-icon.red {
        background-position: center -25px;
    }
    .qgcops-wellhitliststatus-icon.amber {
        background-position: center -50px;
    }
    .qgcops-wellhitliststatus-icon.yellow {
        background-position: center -75px;
    }
    .qgcops-wellhitliststatus-icon.water {
        background-position: center -100px;
    }
    
.qgcops-timestamp 
{
    text-align: center; 
    background: #cccccc; 
    width: 150px; 
    margin: 0px auto -10px; 
    color: #ffffff; 
    font-size: 10px; 
    font-family: arial;
}


/*
----------------------------------------
04 BACKGROUND CARDS 
========================================
*/
.qgcops-graphics {
	background: #f3f3f3;
	border-top: solid 1px #666666;
	margin-bottom: 40px;
	padding-bottom: 20px;
	position: relative
}
.qgcops-nobackground{
	background: none
}
.qgcops-graphics-inner-container{
	width: 98%;
	margin: 0 auto;
}

/*
----------------------------------------
04 EFFICIENCY AND VARIANCE 
========================================
*/
/*General*/

.qgcops-production-highlight {
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	list-style: none;
	text-align: center;
	margin: 0
}
	.qgcops-production-highlight li {
		display: inline-block;
		margin: 0 1%;
		line-height: 40px;
		width: 7%;
		vertical-align: middle
	}

	.qgcops-production-highlight span {
		margin: 0 15px;
		float: left;
	}

/*PRODUCTION EFFICENCY*/
.qgcops-efficiency {
	color: #ff8500;
}

	.qgcops-efficiency li.last{
		background: url(../img/qgcops-efficiency-label.png) left no-repeat;
	}

/*FORECAST VARIANCE*/
.qgcops-forecast {
	color: #006600;
}
	.qgcops-forecast > li.btl {
		color: red;
	}

	.qgcops-forecast li.last {
		background: url(../img/qgcops-forecast-label.png) left no-repeat;
	}
/*EFFICIENCY & VARIANCE*/
.qgcops-efficiency li.last, .qgcops-forecast li.last {
	color: #ffffff;
	width: 28%;
	padding: 0 20px;
	text-align: left;
	white-space: nowrap;
	text-transform: uppercase;
	margin-bottom: 15px
}


/*
----------------------------------------
04 CARDS STYLES 
========================================
*/

/*Single Value card*/
.qgcops-cards-value-container {
    white-space: nowrap;
    text-align: center;
    margin: 0 auto ;
    text-transform: uppercase;
}
.qgcops-cards-value {
    font-size: 32px;
    font-family: 'dosislight';
    line-height: 55px;
    text-align: center;
}
.qgcops-cards-unit { 
    line-height: 14px;
    position: relative;
    margin-top: 10px;
    display:inline-block ;
}
.qgcops-cards-unit p{
    margin:0;
    font-size: 12px;
    text-align: left;
}
.qgcops-cards-label {
    background: #ebebeb;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    clear: both;
    margin-bottom: 15px
}
/*Dual Value card*/
.qgcops-cards-dual-value{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center
}
.qgcops-cards-dual-value li{
	display: inline-block;
	padding:0 1%;
	width: 45%;
}

/*Tri Value card*/
.qgcops-cards-tri-value{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center
}
.qgcops-cards-tri-value li{
	display: inline-block;
	padding:0;
	margin: 0;
	width: 32.5%;
}

/*Multi Value card*/
.qgcops-cards-multi-value{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center
}
.qgcops-cards-multi-value li{
	display: inline-block;
	padding:0 10px;
}
.actual{
	background: #ff8500;
	color: #fff
}
.prediction{
	background: #666;
	color: #fff
}

/*
----------------------------------------
04 PILL STYLES 
========================================
*/
.nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus {
	color: #ffffff;
	background-color: #ff8500;
	font-weight: bold;
	position: relative;
}
.nav-pills > .active > a:after{
	content: "";
	width: 0px; 
	height: 0px;
	display: block;
	position: absolute;
	top: 42px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #ff8500;
}

.nav-pills > li > a {
	color: #fff;
	background: #666666;
	text-transform: uppercase;
}
.nav-pills > li > a:hover {
	background: #555555;
}
.nav-pills > li {
	width: 50%;
	text-align: center;
	font-size: 14px
}
.nav-pills > li > a {
	padding: 12px 0;
	margin: 2px 0 0;
	line-height: inherit;
	border-radius: 0
}

.tab-content{
	margin-top: -20px
}
/*
----------------------------------------
04 KENDO TABS 
========================================
*/

.k-chart{
    clear: both;
}

.k-state-selected{
    background: transparent url(../img/qgcops-filter-bg.png) center top no-repeat !important;
    font-family: 'dosissemibold';
    line-height: 30px;
    padding-bottom: 10px;
}
.k-grid-header .k-header{
    text-align: center;
}
.qgcops-filter .k-widget{
    border: 0px;
}
/* Filter Style */
.qgcops-filter {
    float: right;
    list-style: none;
    margin: 15px 60px 20px 0;
    text-transform: uppercase;
}
    .qgcops-filter ul {
        margin: 0;
        background: #666666;
        color: #f3f3f3;
        height: 30px;
    }
    
    .qgcops-filter li {
        display: inline-block;
        line-height: 30px;
        padding-right: 25px;
        padding-left: 25px;
    }
    
        .qgcops-filter li a {
            color: #fff !important;
            text-decoration: none;
        }
        
        .qgcops-filter li:hover {
            text-decoration: underline;
            background: #ff8500;
            cursor: pointer;
            padding-bottom: 0px;
        }
        
        .qgcops-filter li.active {
            background: transparent url(../img/qgcops-filter-bg.png) center top  no-repeat;
            font-family: 'dosissemibold';
            line-height: 30px;
            padding-bottom: 10px;
        }
    
    .qgcops-filter .last {
        margin-right: -21px;
    }
    
    .qgcops-filter li.divider {
        padding: 0;
        color: #ff8500;
        margin: 0px -5px;
    }

/* End Filter Style */

/*
----------------------------------------
04 BACK TO TOP 
========================================
*/
.qgcops-back-to-top{
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	background:#ff8500;
	position: relative;
}
a.qgcops-back-to-top{
	font-size:18px;
	color: #fff;
	text-decoration: none;
}
a.qgcops-back-to-top:hover{
	background: #666;
	color: #fff;
	text-decoration: none
}
.qgcops-back-to-top:before, .qgcops-back-to-top:after{
	background: url(../img/back-to-top.png);
	content: "";
	display: block;
	width: 20px;
	height: 13px;
}
.qgcops-back-to-top:before{
	position: absolute;
	top: 20px;
	left: 18px
}
.qgcops-back-to-top:after{
	position: absolute;
	top: 20px;
	right: 18px
}

/*
----------------------------------------
04 FOOTER 
========================================
*/
.qgcops-footer{
	margin-top: 20px;
	background: #ff8500 url(../img/footer-background.png) repeat-x;
}
.qgcops-footer-top-links{
	padding:20px
}
.qgcops-footer-logo{
	float: left}
.qgcops-footer-location{
	font-size: 24px;
	color:#ff8500;
	float: left;
	margin: 10px 40px 0
}
.qgcops-footer-location:after{
	content: "";
	display: inline-block;
	background: url(../img/footer-caret.png);
	width: 19px;
	height: 19px;
	margin-left: 10px;
	margin-bottom: -2px
}
/*LINKS STYLE*/
.qgcops-footer-menu{
	float: left;
}
.qgcops-footer-menu > li{/*This affects the first level of li*/
	float: left;
	color: #fff;
	font-size: 18px;
	margin: 12px 40px 0 0; 
}
.qgcops-footer-menu, .qgcops-footer-menu > li > ul{
	list-style: none; 
	margin: 0;
	padding: 0
}
.qgcops-footer-menu > li > span:after{/*Caret for first level*/
	background: url(../img/footer-option-caret.png);
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-left: 6px
}
.qgcops-footer-menu > li > ul{
	font-size: 13px;
	margin-top: 50px;
}
.qgcops-footer-menu > li > ul > li{
	margin-bottom: 6px
}
.qgcops-footer-menu > li > ul > li > a{
	color: #fff;
	padding: 4px 6px;
}
.qgcops-footer-menu > li > ul > li > a:hover{
	background: #fff;
	color: #ff8500;
	text-decoration: none;
}
.qgcops-footer-menu > li > ul > li > a:before{
	content:"»\00a0";
	display: inline-block;

}

/*
----------------------------------------
04 SLIDE OUT DIV 
========================================
*/
.slide-out-div {
	padding: 10px;
	width: 200px;
	background: #f3f3f3;
	border-right: 4px solid #ff8500;
	box-shadow: 0px 0px 6px #666;
	-moz-box-shadow: 0px 0px 6px #666;
	-webkit-box-shadow: 0px 0px 6px #666;
}

.qgcops-slide-out-div-menu{
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
	background: #f3f3f3
}
.qgcops-slide-out-div-menu li a{
	padding: 6px 15px;
	display: block;
	text-decoration: none;
	color: #666
}
.qgcops-slide-out-div-menu li a:hover{
	background: url(../img/qgcops-hover.png) no-repeat right center;
	color: #fff
}
.qgcops-slide-out-div-menu li:first-child{
	padding: 5px ;
	display: block;
	background: #666;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center
}
.qgcops-slide-out-div-menu > .qgcops-selected a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	background: url(../img/qgcops-select.png) no-repeat right center;
}
.qgcops-slide-out-div-menu > .qgcops-selected a:hover{
	background: url(../img/qgcops-select.png) no-repeat right center;
}
