/*
 * QGC Fonts CSS
 */

@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis-light-webfont.eot');
    src: url('../fonts/dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-light-webfont.woff') format('woff'),
         url('../fonts/dosis-light-webfont.ttf') format('truetype'),
         url('../fonts/dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('../fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosissemibold';
    src: url('../fonts/dosis-semibold-webfont.eot');
    src: url('../fonts/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-semibold-webfont.woff') format('woff'),
         url('../fonts/dosis-semibold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}